<h1>Booking and Monitoring System</h1>

<a href="/booking"><button>Book A Room</button></a>
<a href="/cancel"><button>Cancel Booking</button></a>
<a href="/home"><button>Return Home</button></a>

<form method="GET">
    <br>    Select Day:
    <input id="book_date" type="date" name="book_date" value="{{book_date|date:"d/m/Y"}}">
    
    <br>    Select Building:
    <input id="book_building" type="text" name="book_building" value="">
    <input type="submit" value="Search for available rooms">

    <p>{{info_text}}</p>
</form>
